<br /><br />
<h1><%= flash[:notice] %></h1>

<%= form_tag( {action: "show_file"} ) do  %>

	<%= text_field_tag(:file_path, @file_path, size: "100") %><br />

	<%= submit_tag("Открыть") %>

<% end %>


<%= form_tag( {action: "save_file"} ) do  %>

	<%= text_area_tag(:file_content, @file_content, size: "74x40") %><br />

	<%= hidden_field_tag(:file_path, @file_path, size: "100") %>

	<%= submit_tag("Сохранить") %>

<% end %>